*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: pink;
    overflow: hidden;
}
.fbody{
    width: 50%;
    margin: 60px auto;
    background-color: aqua;
    padding: 25px;    
}
.fhead{
    text-align: center;
    border-bottom: 2px solid black;
    width: 70%;
    margin: 4px auto;
    margin-bottom: 20px;
}
.label{
    font-size: 22px;
}
.inp{
    width: 49%;
    height: 35px;
    border-radius: 10px;
}
.inpu{
    width: 100%;
    height: 35px;
    border-radius: 10px;
}
::placeholder{
    padding-left: 10px;
    font-size: 15px;
    color: #000;
}
.inp:focus{
    border: none;
    outline: 2px solid greenyellow;
}
.inpu:focus{
    border: none;
    outline: 2px solid greenyellow;
}
input[type=date]{
    width: 40%;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
select{
    color: #000;
    width: 30%;
    height: 20px;
    border-radius: 10px;
}
option{
    color: #000;
    font-size:15px;
}
.fs{
    margin: 6px 15px 15px;
}
input[type=submit]{
    width: 50%;
    font-size: 35px;
    border-radius: 18px;
}